body {
    background-color: #f1f1f1;
    color: #000000;

    font-size: 16px;
    font-weight: normal;
    font-family: "Noto Sans Georgian";
}

.container {
    max-width: 75%;
    margin: auto;
}

.header {
    width: 100%;
    padding: 10px;
    background-color: #fff9dc;
    border-radius: 25px;
    margin-bottom: 10px;
}

.table-cell {
    width: 100%;
    padding: 10px;
    background-color: #e5ffe7;
    border-radius: 25px;
}

.table-cell .tr {
    margin-bottom: 10px;

}

.button {
    margin-top: 20px;
    color: black;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
    font-size: 16px;
    font-family: inherit;
    background-color: #e5ffe7;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}