<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="info-style.css">
    <title>Info</title>
</head>
<body>
    <h2>Info</h2>
    <talbe>
        <tr>
            <td>Название</td>
            <td th:text="${response.name}"></td>
        </tr>
        <tr>
            <td>Широта</td>
            <td th:text="${response.latitude}"></td>
        </tr>
        <tr>
            <td>Долгота</td>
            <td th:text="${response.longitude}"></td>
        </tr>
    </talbe>
</body>
</html>